html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/chess_background.jpg');
    background-size: cover;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Bungee', cursive;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #ffffff ;
}


/*
 * Styles for the deck of cards
 */
@media screen and (min-height: 880px){
  .deck {
      width: 660px;
      min-height: 680px;
      background: linear-gradient(160deg, #FFDDB5 5%, #D3986C 95%);
      padding: 32px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 3em;
  }

  .deck .card {
      height: 125px;
      width: 125px;
      background: url('../img/card_wood.jpg');
      background-size: cover;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
      transition: transform 1s;
      transform-style: preserve-3d;
  }
}

@media screen and (max-height: 879px){
  .deck {
      width: calc(660px * 0.7);
      min-height: calc(680px * 0.7);
      background: linear-gradient(160deg, #FFDDB5 5%, #D3986C 95%);
      padding: 32px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 3em;
  }

  .deck .card {
      height: calc(125px * 0.7);
      width: calc(125px * 0.7);
      background: url('../img/card_wood.jpg');
      background-size: cover;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
      transition: transform 1s;
      transform-style: preserve-3d;
  }
}

.deck .card.open {
    transform: rotateY(0deg);
    background: url('../img/card_wood_open.jpg');
    background-size: cover;
    cursor: default;
    animation-name: flip1Card;
  	-webkit-backface-visibility: visible !important;
  	backface-visibility: visible !important;
  	animation-duration: .50s;
}

@keyframes flip1Card {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    pointer-events: none;
    background:  url('../img/card_wood_matched.jpg');
    animation: matchAnimation 2s;
    font-size: 33px;
}

@keyframes matchAnimation {
      0% {
      transform: scale(.3);
      border-radius: 30%;
      }
      100% {
        transform: scale(1.2);
      }
}

.deck .card.unmatched {
  pointer-events: none;
	background: url('../img/card_wood_unmatched.jpg');
  animation: unmatchAnimation 1s;
}

@keyframes unmatchAnimation {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.deck .card.disabled {
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 660px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #f3cb3c;
    font-size: 25px;
}

.score-panel .moves {
  color: #ffffff;
  font-size: 25px;
  display: inline-block;
  padding-left: 100PX;
}

#timer {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  padding-left: 160px
}

.score-panel .restart {
    cursor: pointer ;
    color: #ffffff;
    font-size: 30px;
    float: right;
    padding-top: 15px;
    }

.restart:hover {
    animation-name: unmatchAnimation ;
    animation-duration: 6s;
  }

/* The Close Button */

.close {
    color: white;
    float: right;
    font-weight: bold;
    font-size: 1.5em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal content */
.modal-header {
    padding: 10px 15px 20px 20px ;
    background: url('../img/card_wood.jpg');
    background-size: cover;
    font-family: "coda" cursive;
    color: white;
}

.modal-body{
  align:center;
  background: #FFDDB5;
  padding: 20px 0px 30px 20px ;
}

.modal-body .stars {
  margin: auto;
  display: inline-block;
}

.stars li {
  padding-top: 20px;
  list-style: none;
  display: inline-block;
}

.stars>li {
  color: #f3cb3c;
}

.stars > span {
  font-weight: bold;
  padding-right: 20px;
}

.modal-body>li {
  margin: auto;
  padding-right: 20px;
  display: inline-block;
  font-weight: bold;
}

#timerModal{
  color: #6666FF;
}

.modal-footer>span {
  padding-right: 30px;
}

.modal-footer {
    padding: 15px 20px;
    background: url('../img/card_wood.jpg');
    background-size: cover;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 400px;
    top: 0;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    font-size: 1.5em;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
